<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col m6">
    <img class="responsive-img" alt="Avatar Image" placeholder="Image Placeholder">
  </div>
  <div class="col m6">
    <label>First Name: </label> <%= @contact.firstname %><br /><br />
    <label>Last Name: </label> <%= @contact.lastname %><br /><br />
    <label>Address: </label> <%= @contact.address %><br /><br />
    <label>Phone Number:</label> <%= @contact.phonenumber %> <br /><br />
    <label>Email: </label> <%= @contact.email %>
  </div>
</div>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
<br />
<br />
